body {
  background-color: #060606;
  color: #FFFAF0;
}
a{
  color: #FFFAF0;
}
a:hover {
  color: #FFFAF0;
  text-decoration: none;
}
a:link, a:visited {
  color: #FFFAF0;
  text-decoration: none;
}
a:link:active, a:visited:active {
  color: #FFFAF0;
  text-decoration: none;
}
button:focus {outline:0;}
/*prog*/
*{margin:0;}

#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}
/*prog end */

/*slide*/
.slider-viewer{
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.slide-group{
  width: 100%;
  height: 100%;
  position: relative;
}
.slide{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}
.slide:first-child{
  display: block;
}
.board{
  width: calc(100vw - 100px);
  min-height: calc(100vh - 160px);
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  margin: 110px 50px 50px 50px;
  position: absolute;
  border-right: 1px solid #FFFAF0;
  z-index: 10;
}
.navigation{
  min-height: 60px;
  text-align: center;
  position: relative;;
  top: -75px;
}
.navigation a{
  font-family: 'Quicksand', sans-serif;
  line-height: 60px;
  font-size: 20px;
  width: 18%;
  margin: 0 10px;
  display:inline-block;
}
#nav{
  position: absolute;
  margin: 0;
  height: 25px;
  width: 25px;
  right: 0;
  top: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav span{
  display: block;
  position: absolute;
  height: 2px;
  background: #FFFAF0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav span:nth-child(1) {
  top: 0px;
  width: 100%;
}

#nav span:nth-child(2),#nav span:nth-child(3) {
  top: 6px;
  width: 100%;
}

#nav span:nth-child(4) {
  width: 66%;
  right: 0;
  left: auto;
  top: 12px;
}

#nav.open span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}

#nav.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav.open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}
#menu {
  text-align: right;
  margin-right: 10vw;
}
#menu a {
  position: relative;
  text-decoration: none;
  display: block;
  margin-bottom: 25px;
  font-size: 30px;
}
#menu a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #FFFAF0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#menu a:hover:before {
  visibility: visible;
  width: 100%;
}
.description{
  position: relative;
  margin-top: 50vh;
  transform: translate(0%, -75%);
}
.description h1{
  line-height: 1 !important;
  font-family: 'Raleway', sans-serif;
}

.description p{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;

}
.logo{
  /*font-family: 'Press Start 2P', cursive;*/
  font-family: 'Raleway', sans-serif;
  height: 60px;
  width: 100px;
  font-size: 40px;
  float: left;
  text-align: left;
}
.bottom {
  position: absolute;
  bottom: -12px;
  height: 100px;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}
.bottom a {
  font-size: 20px;
  padding-right: 15px;
}
.bottom a:first-of-type {
    padding-left: 15px;
}
.bottom div {
  position: absolute;;
  bottom: 0px;
  right: 10vw;
  height: auto;
  width: auto;
}
.bottom div p {
  display: inline-block;
}
.bottom div:after,
.bottom div:before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #FFFAF0;
  top: 11px;
}
.bottom div:before {
  right: 100%;
  margin-right: 15px;
  width: 90vw;

}
.bottom div:after {
  left: 100%;
  margin-left: 15px;
  width: 10vw;
}
.picBack{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.85;
}
.slide-buttons {
  width: 15px;
  height: auto;
  position: absolute;
  right: 5vw;
  top: 50vh;
  transform: translate(0%, -100%);
}
.slide-btn {
  background-color: #FFFAF0;
  margin-bottom: 50px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 1px solid #FFFAF0;
  overflow: visible;
}
.active {
  -webkit-animation-name: drop; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: drop;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes drop {
  0% {box-shadow:  0 0 0 0px rgba(255, 250, 240,0.4);}
  10% {box-shadow:  0 0 2px 3px rgba(255, 250, 240, 1);}
  90% {box-shadow: 0 0 0 1px rgba(255, 250, 240,0.1);}
  100% {box-shadow: 0 0 0 0px rgba(255, 250, 240,0.1);}
}

/* Standard syntax */
@keyframes drop {
  0% {box-shadow:  0 0 0 0px rgba(255, 250, 240,0.4);}
  10% {box-shadow:  0 0 2px 3px rgba(255, 250, 240, 1);}
  90% {box-shadow: 0 0 0 1px rgba(255, 250, 240,0.1);}
  100% {box-shadow: 0 0 0 0px rgba(255, 250, 240,0.1);}
}

.error{
  color: #FF6347;
}
@media only screen and (max-width: 992px)  {
  .board{
    margin: 90px 50px 50px 50px;
    border-right: none;
  }
  .bottom {
    display: none;
  }
  .navigation {
    width: 100%;
  }
  .navigation a{
    display: none;
  }
  #nav{
    position: relative;
    float: right;
    height: 60px;
    width: 45px;
    top: 15px;
  }
  #nav span:nth-child(1) {
    top: 0px;
    width: 100%;
  }
  #nav span:nth-child(2),#nav span:nth-child(3) {
    top: 11px;
  }
  #nav span:nth-child(4) {
    top: 22px;
  }
  #menu{
    text-align: center;
    margin-right: 0vw;
  }
  .description{
    position: relative;
    margin-top: 20vh;
    transform: translate(0%, 0%);
  }
  .description h1 {
    margin-top: -25px;
  }
  .slide {
    height: 30vh;
    border-bottom: 1px solid #FFFAF0;
  }
  .slide-buttons {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0%, 0%);
    text-align: center;
  }
  .slide-btn {
    margin: 25px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }

}
